.hero{
    height: 100vh;
    background: linear-gradient(180deg,#fde1ff,#e1ffea22 60%);
    display: flex;
}
.hero-left{
    flex: 1;
    /* If an element has flex: 1, this means the size of all of the other elements will have the same width as their content, but the element with flex: 1 will have the remaining full space given to it. See the illustration below. */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    gap: 20px;
    padding-left:180px;
    line-height: 1.1;
}
.hero-left h2{
    color:#090909;
    font-size: 26px;
    font-weight: 600;
}
.hero-left p{
    color:#090909;
    font-size: 100px;
    font-weight: 700;
}
.hero-hand-icon{
    display: flex;
    align-items: center;
    gap: 20px;
}
.hero-hand-icon img{
    width: 105px;
}
.hero-latest-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 310px;
    height: 70px;
    border-radius: 75px;
    margin-top: 30px;
    background: #ff4141;
    color: white;
    font-size: 22px;
    font-weight: 500;
}
.hero-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width:840px){
    .hero{
        flex-direction: column;
        margin-bottom: 50px;
    }
    .hero-left{
        gap: 10px;
        padding-left:30px;
        line-height: 1.0;
        margin-top: 20px;
    }
    .hero-left h2{
        font-size: 20px;
    }
    .hero-left p{
        /* color:#090909; */
        font-size: 35px;
        /* font-weight: 700; */
       
    }
    .hero-hand-icon img{
        width: 45px;
    }
    .hero-latest-btn{
        gap: 5px;
        width: 150px;
        height: 40px;
        border-radius: 65px;
        margin-top: 18px;
        font-size: 10px;
        font-weight: 500;
    }
    .hero-latest-btn img{
        width: 15px;
    }
    .hero-right img{
        width: 320px;
        padding: 10px;
    }

}