.newsletter{
    width:75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0px 140px;
    margin-bottom:100px;
    background: linear-gradient(180deg,#fde1ff 0%,#e1ffea22 60%);
    gap:30px;
}
.newsletter h1{
    color: #454545;
    font-size: 55px;
    font-weight: 600;
}
.newsletter p{
    color:#454545;
    font-size: 20px;
}
.newsletter div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    width: 730px;
    height: 70px;
    border-radius: 80px;
    border: 1px solid #e3e3e3;
}

.newsletter input{
    width: 500px;
    margin-left: 30px;
    border: none;
    outline: none;
    color: #616161;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}
.newsletter div button{
    width: 210px;
    height: 70px;
    border-radius: 80px;
    background: black;
    font-size: 16px;
    cursor: pointer;
    color: white;
}

@media (max-width:840px){
    .newsletter{
        width:90%;
        padding: 0px 35px;
        margin-bottom:65px;
        background: linear-gradient(180deg,#fde1ff 0%,#e1ffea22 65%);
        gap:12px;
    }
    .newsletter h1{
        padding-top: 20px;
        font-size: 20px;
        font-weight: 600;
        line-height: 1.1;
    }
    .newsletter p{
        font-size: 12px;
    }
    .newsletter div{
        width: 300px;
        height: 42px;
        border-radius: 60px;
    }
    .newsletter div button{
        width: 195px;
        height: 42px;
        border-radius: 70px;
        background: black;
        font-size: 12px;
        cursor: pointer;
        color: white;
    }
    
    
    


}